<% layout('../layout') -%>
<div class="row">
    <div class="col-md-5">
            <h1><%= title %></h1>
    </div>    
    <div class="col-md-7 margin-auto text-right">
            <div class="btn-group" role="group" aria-label="Basic example">  
                <a href="/products/add">
                    <button id="btn-add-user" type="button" class="btn btn-dark">
                        <i class="far fa-plus-square" ></i>
                        &nbsp;Добавить
                    </button>
                </a>                      
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">  
                <form id="del-all-products" method="post" action="/products/deleteall">
                    <button id="btn-add-user" type="submit" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                        &nbsp;Удалить все
                    </button>
                </form>                                   
            </div>   
    </div>    
</div>
<div class="row">
    <% products.forEach( function( product, index ) { %>
    <div class="col-md-3">        
        <div class="card text-white bg-secondary mb-3">
            <form id="<%= product.name %>" method="post" action="/products/delete">
                <input type="hidden" id="<%= product.name %>" name="product_name" value="<%= product.name %>" />
                <button type="submit" class="btn btn-danger del-product btn-sm">x</button>
            </form>
            <div class="card-header"><%= product.name %></div>
            <div class="card-body">                                                          
                <h5 class="card-title"><%= product.title %></h5>  
                <div class="media-body">
                    <div class="media">
                        <img width="72" src="<%= product.image %>" alt="Тестовая картика" class="mr-3 img-thumbnail"/>                            
                        <%= product.description %>
                    </div>
                </div>                    
            </div>
        </div>      
    </div>
    <% }); %>        
</div>
<div class="row">
    <div class="col-md-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item <%= pagination.prev_disabled  %>">
                    <a class="page-link" href="<% if( pagination.prev != -1 ) { %>/products/page/<%= pagination.prev %> <% } %>">&lt;&lt;</a>
                </li>
                <% for( let i = 0; i < pagination.cnt_buttons; i++ ) { %>
                    <li class="page-item <% if( ( i + 1 ) == pagination.cur_page ) { %> disabled active <% } %>">
                        <a class="page-link" href="/products/page/<%= (i + 1) %>"><%= (i + 1) %></a>
                    </li>
                <% } %>                 
                <li class="page-item <%= pagination.next_disabled  %>">
                    <a class="page-link" href="<% if( pagination.next != -1 ) { %>/products/page/<%= pagination.next %> <% } %>">&gt;&gt;</a>
                </li>
            </ul>
        </nav>
    </div>    
</div>
